<%= form_with(model: cage) do |form| %>
  <% if cage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cage.errors.count, "error") %> prohibited this cage from being saved:</h2>

      <ul>
        <% cage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :max_capacity %>
    <%= form.number_field :max_capacity %>
  </div>

  <%= form.collection_select :cage_status_id, CageStatus.all, :id,:name, include_blank: true %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
